<div class="container">
  <form [formGroup]="bikeForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="ID" class="col-sm-1 col-form-label">ID:</label>
      <div class="col-sm-11">
          <input type="text" readonly class="form-control-plaintext" id="ID" formControlName="ID">
      </div> 
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="BikeType">Bike Type</label>
          <select class="form-control" id="BikeType" formControlName="BikeType">
            <option>Cruiser</option>
            <option>Electric</option>
            <option>Hybrid</option>
            <option>Mountain</option>
            <option>Road</option>
            <option>Tandem</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="UnitPrice">Unit Price</label>
          <input type="number" id="UnitPrice" formControlName="UnitPrice" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="ImagePath">ImagePath</label>
          <input type="text" id="ImagePath" formControlName="ImagePath" class="form-control"  #imagePath>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <img [src]="imagePath.value" style="max-height: 350px;" class="img-responsive">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="Manufacturer">Manufacturer</label>
          <input type="text" id="Manufacturer" formControlName="Manufacturer" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="Status">Status</label>
          <select class="form-control" id="Status" formControlName="Status">
            <option>Available</option>
            <option>Rented</option>
            <option>Maintenance</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row butttonSection">
        <div class="col-sm-4 btn-group">
          <hr>
          <button type="button" class="btn btn-success" (click)="onSubmit()" [disabled]="!bikeForm.valid">Save</button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
      </div>
  </form>
</div>