<div class="container">
    <div class="row buttonSection justify-content-end">
      <!-- <div class="col-sm-2">
          <button class="btn btn-primary" (click)="onEditVehicle()">Edit</button>
      </div>
      <div class="col-sm-2">
          <button class="btn btn-danger" (click)="onDeleteVehicle()">Delete</button>
      </div> -->
      <div class="col-sm-4">
          <div class="btn-group" role="group" aria-label="Vehicle Actions">
              <button type="button" class="btn btn-secondary" (click)="onEditBicycle()">Edit</button>
              <button type="button" class="btn btn-danger" (click)="onDeleteBicycle()">Delete</button>
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <img [src]="Bike.ImagePath"
          alt="{{Bike.BikeType}} {{Bike.Manufacturer}}"
          class="img-responsive"
          style="max-height: 250px;">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2>{{Bike.BikeType}} Bike</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4><span class="badge badge-primary" [ngClass]="getStatusClasses(Bike.Status)">{{Bike.Status}}</span></h4>
      </div>
    </div>
    <div class="row">
      <div style="font-weight: bold" class="col-sm-2">
        Brand:
      </div>
      <div class="col-sm-10">
        {{Bike.Manufacturer}}
      </div>
    </div>
    <div class="row">
      <div style="font-weight: bold" class="col-sm-2">
        Price:
      </div>
      <div class="col-sm-10">
        ${{Bike.UnitPrice}} per Hour
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-bike-rentals [BikeId]="Bike.ID"></app-bike-rentals>
      </div>
    </div>
  </div>